.app_wrapper {
    position: relative;
    height: 100vh;
    background: var(--brown);

    .app_main {
        // max-height: calc(100vh - 95px);
        height: 100%;
        overflow-y: scroll;
    }

    .bottom_nav_fixed {
        position: fixed;
        width: 90%;
        padding: 10px 30px;
        background: var(--yellow);
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: var(--radius);
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;

            &.active {
                background: var(--active_boottom_nav);
            }

            img {
                width: 100%;
            }
        }
    }
}