* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
  font-weight: 600;
}

html {
  --radius: 16px;
  --yellow: #f8c660;
  --brown: #c4a484;
  --active_boottom_nav: #aa6c39;
  --dark_brown: #964b00;
}

/* Custom CSS to vertically center the close button */
.Toastify__close-button {
  align-self: center !important;
}

/* Optionally, adjust the toast container height */
.Toastify__toast {
  display: flex;
}
